
/* Body */ 
body {
    background: linear-gradient(100deg, rgb(21, 125, 21), rgb(193, 193, 121));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* type */

.typing {
    color: white;
    font-size: 24px;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;

    animation: typing 3s steps(50) forwards,
               blink 0.7s infinite;

    max-width: 100%;


    display: inline-block;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Form */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 320px;
}

/* Inputs (your style ✅) */
#text, #email, #password {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    border: solid 2px mediumaquamarine;
}

#text:hover, #email:hover, #password:hover{
    background-color: rgb(195, 192, 192);
} 

/* Button */
button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-color: #157d15;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0f5c0f;
}


/* 📱 Responsive */
@media (max-width: 400px) {
    #login {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}